thead th:not(:first-child) {
  border-left: 1px solid rgb(99, 99, 99);
}

.model {
  width: 90vw;
  max-width: 500px;
}

td {
  border-left: 1px solid #ccc;
  font-size: clamp(11px, 2vw, 16px);
  word-break: break-all;
}